*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* --- Navbar ---*/
.navbar {
    position: fixed;
    width: 100%;
    background-color: rgb(0, 85, 136);
}

.navbar-burger {
    background-color:  rgb(0, 85, 136);
    border: 2px solid #fff;
    border-radius: 15px;
}

.navbar-burger a span {
    color: #fff;
}

.navbar-menu { 
    background-color: rgb(0, 85, 136);
    justify-content: center;
}

.navbar-menu.is-active {
    text-align: center;
}

.navbar-burger {
    margin-right: 5px;
}

.navbar-burger span {
    color: #fff;
}

.navbar-item {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-item:hover {
    background-color: transparent !important;
    color: aqua !important;
}

/* --- HOME ---*/
.hero-body {
    justify-content: center;
}

.home-name {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-desc {
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.social-icons {
    margin-top: 20px;
    text-align: center;
}

.social-icons a {
    font-size: 30px;
    margin: 20px;
    color: #fff;
}



/* --- Proyectos ---*/
.proyectos {
    background-color: rgb(0, 85, 136);
}

.titulo-proyectos {
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.content h4{
    text-align: center;
}